body {
    background: url(images/back.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Helvetica", "Arial", "Tahoma", "sans-serif";
    font-size: small;
    line-height: 1.3em;
}
#sideBar{
   
   
    background-position: 0% 0%;
      

    position: fixed;

    width: 15%;
    color: white;
    padding-top: 5%;
    padding-left: 2%;

}
#body{  
       
    position: fixed;
    left: 25%;
    width: auto; 
    

}
.ui-panel .ui-panel-content {
border: 0;
background: none;
padding: 0.5em 1em;
max-height: 500px;
}


#padding{
    padding-left: 25px;
}

.msg{
    position: fixed;
    left: 60%;
    bottom: 25%; 
}

#close{
    float:right;
    display:block;
    margin-right:0px;
    margin-left:1300px;
    clear:left;
}
#right{
    position: fixed;
    right: 5%;
    top: 5%;
    margin-bottom: 0px;
    margin-left: 70px;
    margin-right: -50px;
    margin-top: 5px;
    padding-bottom: 18px;
    padding-top: 27px;
    right: 5%;
    width: 15%;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
}

.ui-picklist .ui-picklist-list{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:auto;
    height:300px;
    width:300px;
}